@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-dark: #191919;
  --color-primary: #4545FE;
  --color-grey: #f5f5f5;
  --color-light-gray: #E4E4E4;
  --color-mblue: #4545FE;
  --color-mgreen: #12B76A;
  --color-msky: #14B8A6;
  --color-mred: #F04438;
  --color-darkGrey: #3D3D3D;
  --color-darkGrey2: #525252;
  --breakpoint-spmd: 60rem;
  --breakpoint-2xl: 90rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.nav_items{
  fill: white;
  color: white;
  cursor: pointer;

}
.nav_items:hover{
  color: var(--color-grey);
  transition: all 0.3;
}

.nav_items:disabled {
  cursor: default;
  color: var(--color-gray-400)
}

.rdp-root {
  --rdp-day_button-height: 12px;
  --rdp-day_button-width: 12px;
  --rdp-day-width: 40px;
  --rdp-day-height: 61px;
}

.rdp-day{
  text-align: left;
  vertical-align: text-top;
  padding: 4px;
}

.button__hover:hover, .button__active:active{
  box-shadow: 0px 0px 5px 2px var(--color-mblue);
  transition: all 0.3s;
  cursor: pointer;
}

.input__m:focus{
  box-shadow: 0px 0px 5px 2px var(--color-mblue);
  transition: all 0.3s;
}

.nav__in{
  top: 0px;
  animation: animate_in .3s linear;
}
.nav__out{
  top: -100px;
  animation: animate_out .3s linear;
}

.move__right:hover svg{
  left: 3px;
  transition: all 0.5s;
}

.open__nav{
  height: max-content;
  opacity: 1;
  animation: open_nav_animation 0.7s linear;
}
.close__nav{
  height: 0;
  opacity: 0;
  animation: close_nav_animation 0.7s linear;
}